{% macro new_account_app_password_form(form, password_placeholder) %}
    <form class="grid gap-8"
          method="post"
          action="{{ url_for('account.add') }}">
        <div class="grid gap-6">
            {{ form.csrf_token }}
            {{ form.host_id }}
            {{ form.server }}
            <div class="grid gap-2">
                {{ form.sender_name.label }}
                {{ form.sender_name(placeholder='Name') }}
            </div>
            <div class="grid gap-2">
                {{ form.username.label }}
                {{ form.username(placeholder='Email address to connect') }}
            </div>
            <div class="grid gap-2">
                {{ form.app_password.label }}
                <p class="mt-2 text-sm text-slate-400">
                    Enter your 16 character password
                    <br>
                    <span class="font-bold text-blue-500">without any spaces</span>
                </p>
                {{ form.app_password(placeholder=password_placeholder) }}
            </div>
        </div>
        <div class="flex justify-between font-semibold">
            <button type="button" data-back class="text-slate-400">
                {{ svg('img/right-arrow.svg', class_='fill-slate-400 rotate-180 w-4 h-4 inline') }}
                Back
            </button>
            <button type="submit" class="button bg-green-400">
                Connect
                {{ svg('img/right-arrow.svg', class_='fill-white w-4 h-4 inline') }}
            </button>
        </div>
    </form>
{% endmacro %}
