{% from 'google/add/components/list_item.html.j2' import list_item %}
{% from 'components/new_account_app_password_form.html.j2' import new_account_app_password_form with context %}
{% macro add_with_app_password() %}
    <section data-add-with-app-password data-classes="max-w-lg" class="hidden">
        {{ new_account_app_password_form(form, 'App Password from Gmail') }}
    </section>
{% endmacro %}
