{% extends 'base.html.j2' %}
{% block title %}
    Reset your password
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="max-w-lg py-4 px-6 mx-auto bg-white rounded-lg grid gap-4">
            {% if type == 'send-email-form' %}
                <form action="" method="post">
                    <h1 class="mb-8">Reset password</h1>
                    {{ form.csrf_token }}
                    <div class="grid gap-2 mb-2">
                        {{ form.email.label }}
                        {{ form.email }}
                    </div>
                    {{ form.submit(class_='button') }}
                </form>
            {% elif type == 'new-password-form' %}
                <form action="" method="post">
                    <h1 class="mb-8">Reset password</h1>
                    {{ form.csrf_token }}
                    <div class="grid gap-2 mb-2">
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                    <div class="grid gap-2 mb-2">
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password }}
                    </div>
                    {{ form.submit(class_='button') }}
                </form>
            {% elif type == 'submitted' %}
                <h1>You will receive a password reset email if the provided email address is valid</h1>
            {% elif type == 'limit' %}
                <h1>You have made too many requests. Please try again later</h1>
            {% endif %}
            <div class="text-center grid gap-4">
                <p>
                    <a href="{{ url_for('main.login') }}" class="link">Login</a>
                </p>
                <p>
                    <a href="{{ url_for('main.register') }}" class="link">New user? Sign up</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
